@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* TODO HEADER */
.headerhome {
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.titulo {
  letter-spacing: 5px;
  text-align: center;
  font-family: "Anton";
  font-weight: bold;
  padding-left: 50px;
  font-size: 1.5em;
}

.cuatro {
  color: red;
}

.cuatro1 {
  color: red;
  text-shadow: 2px 2px black;
}

.unite {
  color: white;
  -webkit-animation-name: unite;
          animation-name: unite;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes unite {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: yellow;
  }
}

@keyframes unite {
  0% {
    color: white;
  }
  50% {
    color: red;
  }
  100% {
    color: yellow;
  }
}
.navega a {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat";
  color: white;
  align-items: center;
}

.collapse a:hover {
  background-color: rgba(255, 0, 0, 0.196);
  transform: scale(1.1);
}

.container-text {
  height: 400px;
  color: white;
  font-family: "Montserrat";
  padding-top: 90px;
  padding-left: 40px;
}
.container-text h1 {
  font-size: 3.5em;
  font-family: "Anton";
  text-shadow: 2px 2px black;
  text-transform: uppercase;
  text-align: center;
}
.container-text p {
  font-size: 2em;
  color: white;
}

/* boton unite inicia */
.btn-unite {
  color: white;
  font-family: "Montserrat";
  background-color: red;
  font-size: 1.7em;
  text-transform: uppercase;
  box-shadow: 3px 2px 1px rgb(201, 1, 1);
  text-decoration: none;
  width: 100%;
}
.btn-unite a {
  text-decoration: none;
  color: white;
}
.btn-unite:hover {
  background-color: rgb(132, 3, 3);
  box-shadow: none;
}

/* boton unite finaliza */
/* FIN HEADER */
.torneos-especiales {
  background-color: #333;
  text-align: center;
}

.torneos-especiales h1 {
  color: white;
  text-align: center;
  padding-top: 10px;
  background-color: red;
  font-family: "Anton";
  text-transform: uppercase;
  font-size: 3em;
  text-shadow: 4px 4px black;
}

.card-yo {
  background-color: rgba(255, 255, 255, 0.23);
  color: white;
}

.btn-estructura {
  background-color: red;
  color: white;
  font-family: "Montserrat";
  font-weight: bolder;
}
.btn-estructura:hover {
  color: red;
}

#quienessomos {
  background-color: white;
}

.somoslogo {
  background-image: url(../img/Quiénes-somos.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  border-radius: 50px;
  margin-right: 0px;
  box-shadow: 2px 2px 1px #333;
}

@media (max-width: 992px) {
  .somoslogo {
    background-image: url(../img/Quiénes-somos.jpg);
    box-shadow: none;
    height: 50vh;
  }
}
.somosparrafo {
  color: #333;
  font-family: "Anton";
  padding-left: 100px;
}

h3 {
  color: red;
  padding-bottom: 15px;
  font-family: "Anton";
}

/* footer */
footer {
  color: white;
  text-align: center;
}

footer li {
  list-style: none;
}
footer li a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat";
  font-size: 1em;
  list-style: none;
  font-weight: none;
}
footer li a:hover {
  color: red;
  transform: scale(1.1);
}

.somosf h3 {
  font-family: "Anton";
  font-size: 2em;
  text-decoration: underline;
  color: #fff;
}

.somosfooter p {
  color: white;
  font-family: "Montserrat";
  font-size: 1em;
}

/* fotos page */
.img-container {
  display: grid;
  padding: 80px;
  gap: 10px;
  height: 1150px;
  justify-content: center;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 300px);
  grid-template-areas: "foto1 foto2 foto2 foto2" "foto1 foto3 foto4 foto4" "foto1 foto5 foto6 foto6";
}

.foto {
  border: 5px solid #333;
  border-radius: 10px;
  transition: 2s all;
}
.foto:active {
  transform: scale(1.1);
  transition: 2s all;
}

.foto1 {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  grid-area: foto1;
  background-image: url(../img/foto1.jpg);
  color: aliceblue;
  font-size: 20px;
}

.foto2 {
  background-image: url(../img/foto2.jpg);
  grid-area: foto2;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.foto3 {
  background-image: url(../img/foto3.jpg);
  grid-area: foto3;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.foto4 {
  background-image: url(../img/foto4.jfif);
  grid-area: foto4;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.foto5 {
  background-image: url(../img/foto5.jfif);
  background-position: center;
  grid-area: foto5;
  background-size: cover;
  background-repeat: no-repeat;
}

.foto6 {
  background-image: url(../img/foto6.jpg);
  grid-area: foto6;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.titulofoto h2 {
  color: white;
  text-align: center;
  padding-top: 10px;
  background-color: red;
  font-family: "Anton";
  text-transform: uppercase;
  font-size: 3em;
  text-shadow: 4px 4px black;
}

.copy {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.redesf ul li a {
  background-color: transparent;
  font-size: 1.5em;
  color: white;
}
.redesf ul li a:hover {
  transform: scale(1.3);
  color: blue;
}

/* PAGE FOTOS */
.headerfotos {
  width: 100%;
  min-height: 50vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Hall-of-Fame\ \(2\).jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: right;
}

.titulo-fotos h1 {
  color: white;
  text-shadow: 2px 1px #333;
  font-size: 4em;
}

/* PAGE RANKING */
.headerranking {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Ranking.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-position-x: right;
}

.rank-titulo h1 {
  color: white;
  text-shadow: 2px 1px #333;
  font-size: 4em;
}

.rdorado h2 {
  font-family: "Anton";
  color: gold;
  text-transform: uppercase;
  text-shadow: 2px 1px rgb(0, 0, 0);
  font-size: 2.4em;
}

.rplata h2 {
  font-family: "Anton";
  color: silver;
  text-transform: uppercase;
  text-shadow: 2px 1px rgb(0, 0, 0);
  font-size: 2.4em;
}

.rbronce h2 {
  font-family: "Anton";
  color: burlywood;
  text-transform: uppercase;
  text-shadow: 2px 1px rgb(0, 0, 0);
  font-size: 2.4em;
}

/* inicia  PAGE CONTACTO*/
.headercontacto {
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.headercontacto h1 {
  padding-top: 0px;
  color: azure;
}

.contacto_main {
  background-color: #333;
}

.titulocontacto h3 {
  color: white;
  text-shadow: 3px 2px #333;
  font-size: 4em;
  background-color: red;
  width: 100%;
  text-align: center;
  font-family: "Anton";
}

.form {
  padding-bottom: 25px;
}

.btn-enviar {
  color: white;
  font-family: "Montserrat";
  background-color: green;
  font-size: 1em;
  text-transform: uppercase;
  box-shadow: 3px 2px 1px #333;
}

.btn-enviar:hover {
  background-color: greenyellow;
  color: red;
}

.btn-borrar {
  color: white;
  font-family: "Montserrat";
  background-color: rgb(69, 71, 69);
  font-size: 1em;
  text-transform: uppercase;
  box-shadow: 3px 2px 1px #333;
}

.btn-borrar:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}

.form__group {
  position: relative;
  padding: 20px 0 0;
  margin-top: 10px;
  width: 100%;
  max-width: 180px;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: none;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 17px;
  color: #fff;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.form__field::-moz-placeholder {
  color: transparent;
}

.form__field:-ms-input-placeholder {
  color: transparent;
}

.form__field::placeholder {
  color: transparent;
}

.form__field:-moz-placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__field:-ms-input-placeholder ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 17px;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #9b9b9b;
  pointer-events: none;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  -o-border-image: linear-gradient(to right, #116399, #38caef);
     border-image: linear-gradient(to right, #116399, #38caef);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 17px;
  color: #38caef;
  font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
  box-shadow: none;
}

.redesconta h3 {
  color: white;
  text-shadow: 3px 2px #333;
  font-size: 4em;
  background-color: red;
  width: 100%;
  text-align: center;
  font-family: "Anton";
}

/* page torneos */
.pagebonus h2 {
  background-color: red;
  text-align: center;
  color: white;
  font-family: "Anton";
}

#bonus {
  background-image: url(../img/bonus.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-bottom: 10px;
}

.fotobonus {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fotobonus h3 {
  padding-bottom: 15px;
  text-align: center;
  text-transform: uppercase;
  font-family: "Anton";
  color: red;
  text-shadow: 2px 1px black;
  font-size: 3em;
}
.fotobonus ul li {
  text-align: center;
  list-style: none;
  font-family: "Montserrat";
  font-size: 2em;
}

#bonusve {
  background-image: url(../img/vegas.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-bottom: 10px;
}

#bonusri {
  background-image: url(../img/rio.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-bottom: 10px;
}

#bonuslu {
  background-image: url(../img/luxor.jfif);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin-bottom: 10px;
}

@media (max-width: 992px) {
  .somoslogo {
    background-image: url(../img/Quiénes-somos.jpg);
    box-shadow: none;
    height: 50vh;
  }
}
/* media de grid de galeria INICIA */
@media only screen and (max-width: 820px) {
  .img-container {
    display: grid;
    padding: 80px;
    gap: 10px;
    height: 1650px;
    justify-content: center;
    padding-top: 10px;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(6, 250px);
    grid-template-areas: "foto1 foto1" "foto2 foto2" "foto3 foto3" "foto4 foto4" "foto5 foto5" "foto6 foto6";
  }

  .foto {
    border: 2px solid #333;
    border-radius: 10px;
  }
}
/* media de grid de galeria TERMINA *//*# sourceMappingURL=estilos.css.map */