$fuente1:'Anton';
$fuente2: 'Montserrat';

$color1: #333;
$color2: white;

$colors : [];
$negrito: #01151b;
$rojo: #fa211d;
$amarillo: #f1ff2d;
$verde: #71f859;

$colors: map-merge(("rnegrito": $negrito,
        "rrojo": $rojo,
        "ramarillo": $amarillo,
        "rverde": $verde,
    ),
    $colors);

@each $name,
$value in $colors {
    .ru-#{$name} {
        color: $value;
    }
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.open{
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
    margin-top: 100px;
    opacity: 1;
}



.video-banner{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-color: #333;
}
/* TODO HEADER */
.headerhome {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;


}





.titulo {
    letter-spacing: 5px;
    text-align: center;
    font-family: $fuente1;
    font-weight: bold;
    padding-left: 50px;
    font-size: 1.5em;
}


.cuatro {
    color: red
}

.cuatro1 {
    color: red;
    text-shadow: 2px 2px black;

}

.unite {
    color: $color2;
    animation-name: unite;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;

}

@keyframes unite {
    0% {
        color: $color2;
    }

    50% {
        color: red;
    }

    100% {
        color: yellow;
    }
}

.navega {

    a {
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        font-family: $fuente2;
        color: $color2;
        align-items: center;



    }

}

.collapse {


    a:hover {
        background-color: rgba(255, 0, 0, 0.196);
        transform: scale(1.1);

    }

}




.container-text {
    height: 300px;
    color: $color2;
    font-family: $fuente2;
 

    
    h1 {
        font-size: 3.5em;
        font-family: $fuente1;
        text-shadow: 2px 2px black;
        text-transform: uppercase;
        text-align: center;
      
    }

    p {
        font-size: 1.2em;
        color: white;
        font-family:$fuente2;
        text-transform: uppercase;
        text-shadow: 2px 2px black;

    }
}

.wave{
    background-color: white;
}

/* boton unite inicia */
.btn-unite {
    color: $color2;
    font-family: $fuente2;
    background-color: red;
    font-size: 1.3em;
    text-transform: uppercase;
    box-shadow: 3px 2px 1px rgb(201, 1, 1);
    text-decoration: none;
    text-align: center;
    width: 35%;

    a {
        text-decoration: none;
        color: white;
    }

    &:hover {
        background-color: rgb(132, 3, 3);
        box-shadow: none;
    }
}



/* boton unite finaliza */
/* FIN HEADER */
/* INICIA TORNEOS */

.torneos-especiales {
    background-color: $color1;
    text-align: center;
    
}


.torneos-especiales {

        h1 {
            color: $color2;
            text-align: center;
            padding-top: 1px;
            background-color: red;
            font-family: $fuente1;
            text-transform: uppercase;
            font-size: 3em;
            text-shadow: 4px 4px black;
        }
         h5{
            color : white;
            text-shadow: 3px 3px red;
            text-transform: uppercase;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            font-size: 1.5em;
            
         }
}
.card-yo {
    background-color: rgba(255, 255, 255, 0.23);
    color: $color2;
}
.btn-estructura {
    background-color: red;
    color: $color2;
    font-family: $fuente2;
    font-weight: bolder;

    &:hover {
        color: red;
    }
}
#quienessomos {
    background-color: $color2;
}

.somoslogo {
    background-image: url(../img/Quiénes-somos.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $color2;
    border-radius: 50px;
    margin-right: 0px;
    box-shadow: 2px 2px 1px $color1;
}
.somosparrafo {
    color: $color1;
    font-family: $fuente1;
    padding-left: 100px;
    h3 {
        color: red;
        padding-bottom: 15px;
        font-family: $fuente1;
    }
}
/* footer */
.footer{
    color: $color2;
    text-align: center;
    background-color: #333
}
.linkfotter{
    li {
        list-style: none;
        a {
            text-decoration: none;
            color: $color2;
            display: flex;
            flex-direction: column;
            font-family: $fuente2;
            font-size: 1em;
            list-style: none;
            font-weight: none;
            &:hover {
                color: red;
                transform: scale(1.1);
            }
        }
    }
}

.redesf ul li {
    list-style-type: none;
}

.somosf {

    h3 {
        font-family: $fuente1;
        font-size: 2em;
        text-decoration: underline;
        color: #fff;
    }
}

.somosfooter {
    p {
        color: $color2;
        font-family: $fuente2;
        font-size: 1em;
    }
}

/* fotos page */
.img-container {
    display: grid;
    padding: 80px;
    gap: 10px;
    height: 1150px;
    justify-content: center;
    grid-template-columns: repeat(6, 17%);
    grid-template-rows: repeat(5, 270px);
    grid-template-areas: "foto1 foto1 foto2 foto2 foto3 foto3"
                         "foto1 foto1 foto2 foto2 foto3 foto3"
                         "foto1 foto1 foto4 foto4 foto5 foto5"
                         "foto1 foto1 foto4 foto4 foto5 foto5";

}
.foto {
    border: 5px solid $color1;
    border-radius: 10px;
    transition: 2s all;

    &:active {
        transform: scale(1.1);
        transition: 2s all;
    }
}

@mixin cfgIMG {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.foto1 {
    @include cfgIMG;
    grid-area: foto1;
    background-image: url(../img/foto1.jpg);
    color: aliceblue;
    font-size: 20px;
}

.foto2 {
    background-image: url(../img/foto2.jpg);
    grid-area: foto2;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.foto3 {
    background-image: url(../img/foto3.jpg);
    grid-area: foto3;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.foto4 {
    background-image: url(../img/foto4.jpg);
    grid-area: foto4;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.foto5 {
    background-image: url(../img/foto5.jpg);
    background-position: center;
    grid-area: foto5;
    background-size: cover;
    background-repeat: no-repeat;
}

.foto6 {
    background-image: url(../img/foto6.jpg);
    grid-area: foto6;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.titulofoto {
    h2 {
        color: $color2;
        text-align: center;
        padding-top: 10px;
        background-color: red;
        font-family: $fuente1;
        text-transform: uppercase;
        font-size: 3em;
        text-shadow: 4px 4px black;
        
    }
}

.copy {
    color: $color2;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.redesf ul li a {
    background-color: transparent;
    font-size: 1.5em;

    color: $color2;

    &:hover {
        transform: scale(1.3);
        color: blue
    }
}

/* PAGE FOTOS */

.headerfotos {
    width: 100%;
    min-height: 50vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Hall-of-Fame\ \(2\).jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: right;
}

.titulo-fotos h1 {
    color: $color2;
    text-shadow: 2px 1px $color1;
    font-size: 4em;
}

/* PAGE RANKING */
.headerranking {
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/Ranking.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-position-x: right;
}

.rank-titulo h1 {
    color: $color2;
    text-shadow: 2px 1px $color1;
    font-size: 4em;
}

@mixin tables($fuente, $gold : false, $silver : false) {
    font-family: $fuente;

    @if $gold {
        color: gold;

    }

    @else if $silver {
        color: silver;

    }

    @else {
        color: burlywood;
    }


}

.rdorado h2 {
    @include tables($fuente1, true, false);

    text-transform: uppercase;
    text-shadow: 2px 1px rgb(0, 0, 0);
    font-size: 2.4em;

}

.rplata h2 {
    @include tables($fuente1, false, true);
    text-transform: uppercase;
    text-shadow: 2px 1px rgb(0, 0, 0);
    font-size: 2.4em;

}

.rbronce h2 {
    @include tables($fuente1, false, false);
    text-transform: uppercase;
    text-shadow: 2px 1px rgb(0, 0, 0);
    font-size: 2.4em;

}

/* inicia  PAGE CONTACTO*/

.headercontacto {
    width: 100%;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.headercontacto h1 {
    padding-top: 0px;
    color: azure;
}

.contacto_main {
    background-color: $color1;
}

.titulocontacto h3 {
    color: $color2;
    text-shadow: 3px 2px $color1;
    font-size: 4em;
    background-color: red;
    width: 100%;
    text-align: center;
    font-family: $fuente1;
}

.form {
    padding-bottom: 25px;
}

.btn-enviar {
    color: $color2;
    font-family: $fuente2;
    background-color: green;
    font-size: 1.0em;
    text-transform: uppercase;
    box-shadow: 3px 2px 1px #333
}

.btn-enviar:hover {
    background-color: greenyellow;
    color: red;
}

.btn-borrar {
    color: white;
    font-family: $fuente2;
    background-color: rgb(69, 71, 69);
    font-size: 1.0em;
    text-transform: uppercase;
    box-shadow: 3px 2px 1px #333
}

.btn-borrar:hover {
    background-color: rgb(0, 0, 0);
    color: $color2
}

.form__group {
    position: relative;
    padding: 20px 0 0;
    margin-top: 10px;
    width: 100%;
    max-width: 180px;
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: none;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 17px;
    color: #fff;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 17px;
    cursor: text;
    top: 20px;
}

.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #9b9b9b;
    pointer-events: none;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, #116399, #38caef);
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 17px;
    color: #38caef;
    font-weight: 700;
}

/* reset input */
.form__field:required,
.form__field:invalid {
    box-shadow: none;
}
.formname{
    background-color: #fa211d;
    color: white;
    font-size: 1.0em;
    width: 120px;
    text-align: center;
    font-family: $fuente1;
    transform:skew(8deg);
    text-shadow: 2px 2px black;
    border-style:double;

}

.redesconta h3 {
    color: $color2;
    text-shadow: 3px 2px $color1;
    font-size: 4em;
    background-color: red;
    width: 100%;
    text-align: center;
    font-family: $fuente1;
}



/* page torneos */


.pagebonus h2 {
    background-color: red;
    text-align: center;
    color: $color2;
    font-family: $fuente1;

}

#bonus {
    background-image: url(../img/bonus.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 10px;
}

.fotobonus {
    display: flex;
    flex-direction: column;
    justify-content: center;

    h3 {
        padding-bottom: 15px;
        text-align: center;
        text-transform: uppercase;
        font-family: $fuente1;
        color: red;
        text-shadow: 2px 1px black;
        font-size: 3em;
    }

    ul li {
        text-align: center;
        list-style: none;
        font-family: $fuente2;
        font-size: 2em;

    }
}

#bonusve {
    background-image: url(../img/vegas.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 10px;
}

#bonusri {
    background-image: url(../img/rio.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 10px;
}

#bonuslu {
    background-image: url(../img/luxor.jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin-bottom: 10px;
}
/* media de grid de galeria INICIA */
@media only screen and (max-width: 820px) {

    .img-container {
        display: grid;
        padding: 80px;
        gap: 10px;
        height: 1650px;
        justify-content: center;
        padding-top: 10px;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(5, 320px);
        grid-template-areas:
            "foto1 foto1"
            "foto2 foto2"
            "foto3 foto3"
            "foto4 foto4"
            "foto5 foto5";
            
    }

    .foto {
        border: 2px solid $color1;
        border-radius: 10px;
    }
}

@media (max-width: 992px) {
    .somoslogo {
        background-image: url(../img/Quiénes-somos.jpg);
        box-shadow: none;
        height: 50vh;
    }
}
